<%= render "finance_transaction/form" %>

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Purchase Date</th>
      <th scope="col">Installments</th>
      <th scope="col">Payers</th>
      <th scope="col">Group</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @finance_transactions.each do |finance_transaction| %>
        <tr class="table-<%= finance_transaction.revenue? ? "success" : "danger" %>">
        <td><%= finance_transaction.title %></td>
        <td><%= finance_transaction.purchase_date %></td>
        <td><%= finance_transaction.installments %></td>
        <td><%= finance_transaction.payers.map(&:name).join(", ") %></td>
        <td><%= finance_transaction.groups.first.title %></td>
        <td>R$ <%= finance_transaction.real_amount %></td>
      </tr>
    <% end %>
    <tr>
      <th colspan="5">Total</th>
      <th>R$ <%= @finance_transactions.sum(&:real_amount) %></th>
    </tr>
  </tbody>
</table>