<%= render "widgets/header_top_and_collapse" %>

<div class="container-fluid">
  <div class="row">
    <%= render "widgets/sidebar_one" %>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <%= render "widgets/header_nav" %>

      <!-- main cards  -->
      <%= render "widgets/list_cards_header", tags_finance_transactions: @tags_finance_transactions %>

      <div class="container">
        <div class="row">
          <!-- table -->
          <%= render "widgets/table_type_four", tags_finance_transactions: @tags_finance_transactions %>

          <!-- timeline -->
          <%= render "widgets/timeline", tags_finance_transactions: @tags_finance_transactions %>
        </div>
      </div>
    </main>
  </div>
</div>
