<table class="table table-sm" id="table-finance-transactions">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Purchase Date</th>
      <th scope="col">Payment Date</th>
      <th scope="col">Installments</th>
      <th scope="col">Payers</th>
      <th scope="col">Group</th>
      <th scope="col">Amount</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% finance_transactions.each do |finance_transaction| %>
      <tr class="table-<%= finance_transaction.revenue? ? "success" : "danger" %>">
        <td><%= finance_transaction.title %></td>
        <td><%= finance_transaction.purchase_date %></td>
        <td><%= finance_transaction.payment_date %></td>
        <td><%= finance_transaction.installments %></td>
        <td><%= finance_transaction.payers.map(&:name).join(", ") %></td>
        <td><%= finance_transaction.groups.first.title %></td>
        <td>R$ <%= finance_transaction.real_amount %></td>
        <td>
          <%= button_tag '<i class="fa-solid fa-pencil"></i>'.html_safe,
            class: 'btn btn-outline-primary',
            data: data_finance_transaction_params(finance_transaction)
          %>
          <%= button_to '<i class="fa-solid fa-trash"></i>'.html_safe, finance_transaction_path(finance_transaction.id), class: "btn btn-outline-danger", form_class: "d-inline-block", method: :delete  %>
        </td>
      </tr>
    <% end %>
    <tr>
      <th colspan="6">Total</th>
      <th>R$ <%= sum_total_transactions(finance_transactions) %></th>
    </tr>
  </tbody>
</table>
