<% if request.path != '/tags' %>
  <ul class="py-2 nav justify-content-center nav-pills">
    <% if request.path.include?('dashboard') || request.path == '/' %><div class="ms-auto p-2"></div><% end %>

    <% months_of_year.each do |month| %>
      <li class="nav-item">
        <a class="nav-link <%= current_month.downcase == month.downcase && 'active' %>" href="<%= path_month2(month) %>"><%= month %></a>
      </li>
    <% end %>

    <% if request.path.include?('dashboard') || request.path == '/' %>
      <div class="ms-auto p-2 me-3">
        <a href="<%= path_month2(current_month) %>&view=table"><i class="fa-solid fa-table me-3 link-opacity-50-hover link-secondary"></i></a>
        <a href="<%= path_month2(current_month) %>&view=tag"><i class="fa-solid fa-layer-tag link-opacity-50-hover link-secondary"></i></a>
      </div>
    <% end %>
  </ul>
<% end %>


